
.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 6px 8px rgba(5, 143, 28, .5);
    background-color: #ffffff65;
    min-width: 350px;
}

.Home {
    font-size: 1.5rem;
    text-shadow: 0 6px 8px rgba(5, 143, 28, .5);
}

h3 {
    text-shadow: 0 6px 8px rgba(128, 0, 128, 0.5);
}
